.Filter {
    padding: 0.5em;
    display: flex;
    position: relative;
    font-size: 1em;
    background-color: #d5d5d5;
    box-shadow: 0px 0px 3px 1px #00000060;
    z-index: 1;

    img.Filter_searchIcon {
        position: absolute;
        height: 1em;
        width: 1em;
        align-self: center;
        left: 0.9em;
        pointer-events: none;
        opacity: 0.5;
    }

    input.Filter_input {
        flex: 1;
        border: none;
        border-radius: 0.3em;
        padding: 0.2em 1.3em 0.2em 1.7em;
        outline: none;
        box-shadow: 0 0 2px 0px #00000075;
        background: rgba(255, 255, 255, 0.8);
        transition: 0.1s all ease-in-out;
        font-size: 1.1em;

        &::placeholder {
            color: #d5d5d5;
        }

        &:focus {
            box-shadow: 0 0 1px 2px #2196f3;
            background: white;

            &::placeholder {
                color: transparent;
            }
        }
    }

    img.Filter_clearIcon {
        position: absolute;
        height: 1em;
        width: 1em;
        align-self: center;
        right: 0.9em;
        opacity: 0.5;
    }
}