.Detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 1em;
    box-shadow: 0 0 0px 1px #d0d0d0;
    background: linear-gradient(135deg, #fbfbfb, #f1f1f1);
    scroll-snap-align: start;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.1s ease-in-out;
    cursor: pointer;
}

.Detail__active {
    box-shadow: 0 0 0px 1px #2196f3;
    background: #dff0fc;
}

div.Detail_name {
    text-align: center;
    text-transform: capitalize;
    font-size: 2em;
    font-weight: bolder;
    opacity: 0.8;
    display: flex;
    align-items: flex-end;
    flex: 1;
    padding: 0 0.2em 0.1em;
    line-height: 1em;
}

img.Detail_image {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    flex: none;
    object-fit: contain;
    height: 13em;
    width: 13em;
    align-self: center;
}

button.Detail_removeButton {
    border: none;
    background-color: #e8e8e8;
    color: #656565;
    padding: 0.2em;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    width: 3em;
    height: 3em;
    right: 0.7em;
    top: 0.7em;
    background: transparent;
    z-index: 100;

    &:hover {
        background: #e53935;
        color: white;
    }
}