li.ListItem {
    display: block;

    &:nth-child(odd) {
        background: #00000005;
    }

    a.ListItem_link {
        display: block;
        text-transform: capitalize;
        text-decoration: none;
        padding: 0.2em 0.5em;
        color: black;
        font-size: 1.1em;
        font-weight: 100;
        outline: none;

        // &:hover {
        //     background: #bfbfbf;
        //     color: white;
        // }
    }

    a.ListItem_link__selected {
        background: #2196f3;
        color: white;
    }
}

li.ListItem__selected {
        position: sticky;
        top: calc(-0.5em - 1px);
        bottom: calc(-0.5em - 1px);
}
