div.Types {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    transform: rotate(-45deg) translate(-5em, 1em);
    z-index: 1;
    
    div.Types_wrapper {
        display: flex;
        flex-direction: column;
        width: 10em;
        opacity: 0.3;
        transition: opacity 0.1s ease-in-out;
        min-height: 5em;

        &:hover {
            opacity: 1;

            div.Types_type span.Types_typeName {
                opacity: 0.9;
            }
        }
    
        div.Types_type {
            flex: 0 0 1em;
            display: flex;
            align-items: center;
            justify-content: center;

            span.Types_typeName {
                font-size: 0.6em;
                opacity: 0;
                color: white;
                text-shadow: 0 0 3px #00000059;
            }
        }
    }
}